/StudyCode/Debug
/StudyCode/Release
/StudyCode/x64
/StudyCode/CPP language/x64
/StudyCode/CPP language/Debug
/StudyCode/CPP language/Release
/StudyCode/Third party/Debug
/StudyCode/Third party/x64
/StudyCode/MyDLL/MyDLL/x64
/StudyCode/MyStaticLib/x64
